In [1]:
!curl https://course.fast.ai/setup/colab | bash

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   322  100   322    0     0    829      0 --:--:-- --:--:-- --:--:--   829
Updating fastai...
Done.

In [0]:
%reload_ext autoreload
%autoreload 2

In [0]:
from fastai.basics import *

# Rossmann

## Data preparation / Feature engineering

In addition to the provided data, we will be using external datasets put together by participants in the Kaggle competition. You can download all of them [here](http://files.fast.ai/part2/lesson14/rossmann.tgz). Then you shold untar them in the dirctory to which `PATH` is pointing below.

For completeness, the implementation used to put them together is included below.

In [0]:
! mkdir '/content/data/happy sugar life'

In [18]:
!tar -xvzf "/content/rossmann.tgz" -C '/content/data/happy sugar life'

googletrend.csv
sample_submission.csv
state_names.csv
store.csv
store_states.csv
test.csv
train.csv
weather.csv

In [4]:
!p7zip /content/rossmann.tgz
PATH=Config().data_path()/Path('happy sugar life/')
table_names = ['train', 'store', 'store_states', 'state_names', 'googletrend', 'weather', 'test']
tables = [pd.read_csv(PATH/f'{fname}.csv', low_memory=False) for fname in table_names]
train, store, store_states, state_names, googletrend, weather, test = tables
len(train),len(test)

/usr/bin/p7zip: cannot read /content/rossmann.tgz

(1017209, 41088)

We turn state Holidays to booleans, to make them more convenient for modeling. We can do calculations on pandas fields using notation very similar (often identical) to numpy.

In [0]:
train.StateHoliday = train.StateHoliday!='0'
test.StateHoliday = test.StateHoliday!='0'

In [6]:
train.head()

   Store  DayOfWeek        Date  ...  Promo  StateHoliday  SchoolHoliday
0      1          5  2015-07-31  ...      1         False              1
1      2          5  2015-07-31  ...      1         False              1
2      3          5  2015-07-31  ...      1         False              1
3      4          5  2015-07-31  ...      1         False              1
4      5          5  2015-07-31  ...      1         False              1

[5 rows x 9 columns]

`join_df` is a function for joining tables on specific fields. By default, we'll be doing a left outer join of `right` on the `left` argument using the given fields for each table.

Pandas does joins using the `merge` method. The `suffixes` argument describes the naming convention for duplicate fields. We've elected to leave the duplicate field names on the left untouched, and append a "\_y" to those on the right.

In [0]:
def join_df(left, right, left_on, right_on=None, suffix='_y'):
    if right_on is None: right_on = left_on
    return left.merge(right, how='left', left_on=left_on, right_on=right_on, 
                      suffixes=("", suffix))

In [8]:
print(weather.keys()); weather.head()

Index(['file', 'Date', 'Max_TemperatureC', 'Mean_TemperatureC',
       'Min_TemperatureC', 'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC',
       'Max_Humidity', 'Mean_Humidity', 'Min_Humidity',
       'Max_Sea_Level_PressurehPa', 'Mean_Sea_Level_PressurehPa',
       'Min_Sea_Level_PressurehPa', 'Max_VisibilityKm', 'Mean_VisibilityKm',
       'Min_VisibilitykM', 'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h',
       'Max_Gust_SpeedKm_h', 'Precipitationmm', 'CloudCover', 'Events',
       'WindDirDegrees'],
      dtype='object')

                 file        Date  ...  Events  WindDirDegrees
0  NordrheinWestfalen  2013-01-01  ...    Rain             215
1  NordrheinWestfalen  2013-01-02  ...    Rain             225
2  NordrheinWestfalen  2013-01-03  ...    Rain             240
3  NordrheinWestfalen  2013-01-04  ...    Rain             263
4  NordrheinWestfalen  2013-01-05  ...    Rain             268

[5 rows x 24 columns]

In [9]:
state_names.head()

           StateName State
0  BadenWuerttemberg    BW
1             Bayern    BY
2             Berlin    BE
3        Brandenburg    BB
4             Bremen    HB

Join weather/state names.

In [10]:
weather = join_df(weather, state_names, "file", "StateName")
weather.keys()

Index(['file', 'Date', 'Max_TemperatureC', 'Mean_TemperatureC',
       'Min_TemperatureC', 'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC',
       'Max_Humidity', 'Mean_Humidity', 'Min_Humidity',
       'Max_Sea_Level_PressurehPa', 'Mean_Sea_Level_PressurehPa',
       'Min_Sea_Level_PressurehPa', 'Max_VisibilityKm', 'Mean_VisibilityKm',
       'Min_VisibilitykM', 'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h',
       'Max_Gust_SpeedKm_h', 'Precipitationmm', 'CloudCover', 'Events',
       'WindDirDegrees', 'StateName', 'State'],
      dtype='object')

In pandas you can add new columns to a dataframe by simply defining it. We'll do this for googletrends by extracting dates and state names from the given data and adding those columns.

We're also going to replace all instances of state name 'NI' to match the usage in the rest of the data: 'HB,NI'. This is a good opportunity to highlight pandas indexing. We can use `.loc[rows, cols]` to select a list of rows and a list of columns from the dataframe. In this case, we're selecting rows w/ statename 'NI' by using a boolean list `googletrend.State=='NI'` and selecting "State".

In [0]:
googletrend['Date'] = googletrend.week.str.split(' - ', expand=True)[0]
googletrend['State'] = googletrend.file.str.split('_', expand=True)[2]
googletrend.loc[googletrend.State=='NI', "State"] = 'HB,NI'

In [12]:
googletrend.head()

             file                     week  trend        Date State
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96  2012-12-02    SN
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95  2012-12-09    SN
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91  2012-12-16    SN
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48  2012-12-23    SN
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67  2012-12-30    SN

The following extracts particular date fields from a complete datetime for the purpose of constructing categoricals.

You should *always* consider this feature extraction step when working with date-time. Without expanding your date-time into these additional fields, you can't capture any trend/cyclical behavior as a function of time at any of these granularities. We'll add to every table with a date field.

In [0]:
def add_datepart(df, fldname, drop=True, time=False):
    "Helper function that adds columns relevant to a date."
    fld = df[fldname]
    fld_dtype = fld.dtype
    if isinstance(fld_dtype, pd.core.dtypes.dtypes.DatetimeTZDtype):
        fld_dtype = np.datetime64

    if not np.issubdtype(fld_dtype, np.datetime64):
        df[fldname] = fld = pd.to_datetime(fld, infer_datetime_format=True)
    targ_pre = re.sub('[Dd]ate$', '', fldname)
    attr = ['Year', 'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear',
            'Is_month_end', 'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start']
    if time: attr = attr + ['Hour', 'Minute', 'Second']
    for n in attr: df[targ_pre + n] = getattr(fld.dt, n.lower())
    df[targ_pre + 'Elapsed'] = fld.astype(np.int64) // 10 ** 9
    if drop: df.drop(fldname, axis=1, inplace=True)

In [14]:
add_datepart(weather, "Date", drop=False)
add_datepart(googletrend, "Date", drop=False)
add_datepart(train, "Date", drop=False)
add_datepart(test, "Date", drop=False)
googletrend.head()

             file                     week  ...  Is_year_start     Elapsed
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08  ...          False  1354406400
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15  ...          False  1355011200
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22  ...          False  1355616000
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29  ...          False  1356220800
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05  ...          False  1356825600

[5 rows x 18 columns]

The Google trends data has a special category for the whole of the Germany - we'll pull that out so we can use it explicitly.

In [0]:
trend_de = googletrend[googletrend.file == 'Rossmann_DE']

Now we can outer join all of our data into a single dataframe. Recall that in outer joins everytime a value in the joining field on the left table does not have a corresponding value on the right table, the corresponding row in the new table has Null values for all right table fields. One way to check that all records are consistent and complete is to check for Null values post-join, as we do here.

*Aside*: Why not just do an inner join?
If you are assuming that all records are complete and match on the field you desire, an inner join will do the same thing as an outer join. However, in the event you are wrong or a mistake is made, an outer join followed by a null-check will catch it. (Comparing before/after # of rows for inner join is equivalent, but requires keeping track of before/after row #'s. Outer join is easier.)

In [16]:
store = join_df(store, store_states, "Store")
len(store[store.State.isnull()])

0

In [17]:
joined = join_df(train, store, "Store")
joined_test = join_df(test, store, "Store")
len(joined[joined.StoreType.isnull()]),len(joined_test[joined_test.StoreType.isnull()])

(0, 0)

In [18]:
joined = join_df(joined, googletrend, ["State","Year", "Week"])
joined_test = join_df(joined_test, googletrend, ["State","Year", "Week"])
len(joined[joined.trend.isnull()]),len(joined_test[joined_test.trend.isnull()])

(0, 0)

In [19]:
joined = joined.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))
joined_test = joined_test.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))
len(joined[joined.trend_DE.isnull()]),len(joined_test[joined_test.trend_DE.isnull()])

(0, 0)

In [20]:
joined = join_df(joined, weather, ["State","Date"])
joined_test = join_df(joined_test, weather, ["State","Date"])
len(joined[joined.Mean_TemperatureC.isnull()]),len(joined_test[joined_test.Mean_TemperatureC.isnull()])
weather.head()

                 file       Date  ...  Is_year_start     Elapsed
0  NordrheinWestfalen 2013-01-01  ...           True  1356998400
1  NordrheinWestfalen 2013-01-02  ...          False  1357084800
2  NordrheinWestfalen 2013-01-03  ...          False  1357171200
3  NordrheinWestfalen 2013-01-04  ...          False  1357257600
4  NordrheinWestfalen 2013-01-05  ...          False  1357344000

[5 rows x 39 columns]

In [0]:
for df in (joined, joined_test):
    for c in df.columns:
        if c.endswith('_y'):
            if c in df.columns: df.drop(c, inplace=True, axis=1)

Next we'll fill in missing values to avoid complications with `NA`'s. `NA` (not available) is how Pandas indicates missing values; many models have problems when missing values are present, so it's always important to think about how to deal with them. In these cases, we are picking an arbitrary *signal value* that doesn't otherwise appear in the data.

In [0]:
for df in (joined,joined_test):
    df['CompetitionOpenSinceYear'] = df.CompetitionOpenSinceYear.fillna(1900).astype(np.int32)
    df['CompetitionOpenSinceMonth'] = df.CompetitionOpenSinceMonth.fillna(1).astype(np.int32)
    df['Promo2SinceYear'] = df.Promo2SinceYear.fillna(1900).astype(np.int32)
    df['Promo2SinceWeek'] = df.Promo2SinceWeek.fillna(1).astype(np.int32)

Next we'll extract features "CompetitionOpenSince" and "CompetitionDaysOpen". Note the use of `apply()` in mapping a function across dataframe values.

In [0]:
for df in (joined,joined_test):
    df["CompetitionOpenSince"] = pd.to_datetime(dict(year=df.CompetitionOpenSinceYear, 
                                                     month=df.CompetitionOpenSinceMonth, day=15))
    df["CompetitionDaysOpen"] = df.Date.subtract(df.CompetitionOpenSince).dt.days

We'll replace some erroneous / outlying data.

In [24]:
for df in (joined,joined_test):
    df.loc[joined_test.CompetitionDaysOpen]
    df.loc[df.CompetitionOpenSinceYear<1990, "CompetitionDaysOpen"] = 0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike

We add "CompetitionMonthsOpen" field, limiting the maximum to 2 years to limit number of unique categories.

In [25]:
for df in (joined,joined_test):
    df["CompetitionMonthsOpen"] = df["CompetitionDaysOpen"]//30
    df.loc[df.CompetitionMonthsOpen>24, "CompetitionMonthsOpen"] = 24
joined.CompetitionMonthsOpen.unique()

array([ 24,   3,  19,   9, ..., -29, -30, -31, -32])

Same process for Promo dates. You may need to install the `isoweek` package first.

In [26]:
# If needed, uncomment:
# ! pip install isoweek

Collecting isoweek
  Downloading https://files.pythonhosted.org/packages/c2/d4/fe7e2637975c476734fcbf53776e650a29680194eb0dd21dbdc020ca92de/isoweek-1.3.3-py2.py3-none-any.whl
Installing collected packages: isoweek
Successfully installed isoweek-1.3.3

In [0]:
from isoweek import Week
for df in (joined,joined_test):
    df["Promo2Since"] = pd.to_datetime(df.apply(lambda x: Week(
        x.Promo2SinceYear, x.Promo2SinceWeek).monday(), axis=1))
    df["Promo2Days"] = df.Date.subtract(df["Promo2Since"]).dt.days

In [0]:
for df in (joined,joined_test):
    df.loc[df.Promo2Days<0, "Promo2Days"] = 0
    df.loc[df.Promo2SinceYear<1990, "Promo2Days"] = 0
    df["Promo2Weeks"] = df["Promo2Days"]//7
    df.loc[df.Promo2Weeks<0, "Promo2Weeks"] = 0
    df.loc[df.Promo2Weeks>25, "Promo2Weeks"] = 25
    df.Promo2Weeks.unique()

In [0]:
joined.to_pickle(PATH/'joined')
joined_test.to_pickle(PATH/'joined_test')

## Durations

It is common when working with time series data to extract data that explains relationships across rows as opposed to columns, e.g.:
* Running averages
* Time until next event
* Time since last event

This is often difficult to do with most table manipulation frameworks, since they are designed to work with relationships across columns. As such, we've created a class to handle this type of data.

We'll define a function `get_elapsed` for cumulative counting across a sorted dataframe. Given a particular field `fld` to monitor, this function will start tracking time since the last occurrence of that field. When the field is seen again, the counter is set to zero.

Upon initialization, this will result in datetime na's until the field is encountered. This is reset every time a new store is seen. We'll see how to use this shortly.

In [0]:
def get_elapsed(fld, pre):
    day1 = np.timedelta64(1, 'D')
    last_date = np.datetime64()
    last_store = 0
    res = []

    for s,v,d in zip(df.Store.values,df[fld].values, df.Date.values):
        if s != last_store:
            last_date = np.datetime64()
            last_store = s
        if v: last_date = d
        res.append(((d-last_date).astype('timedelta64[D]') / day1))
    df[pre+fld] = res

We'll be applying this to a subset of columns:

In [0]:
columns = ["Date", "Store", "Promo", "StateHoliday", "SchoolHoliday"]

In [0]:
# df = train[columns]
df = train[columns].append(test[columns])

In [35]:
train.head()

   Store  DayOfWeek       Date  ...  Is_year_end  Is_year_start     Elapsed
0      1          5 2015-07-31  ...        False          False  1438300800
1      2          5 2015-07-31  ...        False          False  1438300800
2      3          5 2015-07-31  ...        False          False  1438300800
3      4          5 2015-07-31  ...        False          False  1438300800
4      5          5 2015-07-31  ...        False          False  1438300800

[5 rows x 22 columns]

In [34]:
df.head()

        Date  Store  Promo  StateHoliday  SchoolHoliday
0 2015-07-31      1      1         False              1
1 2015-07-31      2      1         False              1
2 2015-07-31      3      1         False              1
3 2015-07-31      4      1         False              1
4 2015-07-31      5      1         False              1

Let's walk through an example.

Say we're looking at School Holiday. We'll first sort by Store, then Date, and then call `add_elapsed('SchoolHoliday', 'After')`:
This will apply to each row with School Holiday:
* A applied to every row of the dataframe in order of store and date
* Will add to the dataframe the days since seeing a School Holiday
* If we sort in the other direction, this will count the days until another holiday.

In [0]:
fld = 'SchoolHoliday'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

We'll do this for two more fields.

In [0]:
fld = 'StateHoliday'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

In [0]:
fld = 'Promo'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

We're going to set the active index to Date.

In [0]:
df = df.set_index("Date")

Then set null values from elapsed field calculations to 0.

In [0]:
columns = ['SchoolHoliday', 'StateHoliday', 'Promo']

In [0]:
for o in ['Before', 'After']:
    for p in columns:
        a = o+p
        df[a] = df[a].fillna(0).astype(int)

Next we'll demonstrate window functions in pandas to calculate rolling quantities.

Here we're sorting by date (`sort_index()`) and counting the number of events of interest (`sum()`) defined in `columns` in the following week (`rolling()`), grouped by Store (`groupby()`). We do the same in the opposite direction.

In [0]:
bwd = df[['Store']+columns].sort_index().groupby("Store").rolling(7, min_periods=1).sum()

In [0]:
fwd = df[['Store']+columns].sort_index(ascending=False
                                      ).groupby("Store").rolling(7, min_periods=1).sum()

Next we want to drop the Store indices grouped together in the window function.

Often in pandas, there is an option to do this in place. This is time and memory efficient when working with large datasets.

In [44]:
bwd.head()

                  Store  SchoolHoliday  StateHoliday  Promo
Store Date
1     2013-01-01    1.0            1.0           1.0    0.0
      2013-01-02    2.0            2.0           1.0    0.0
      2013-01-03    3.0            3.0           1.0    0.0
      2013-01-04    4.0            4.0           1.0    0.0
      2013-01-05    5.0            5.0           1.0    0.0

In [45]:
bwd.drop('Store',1,inplace=True)
bwd.head()

                  SchoolHoliday  StateHoliday  Promo
Store Date
1     2013-01-01            1.0           1.0    0.0
      2013-01-02            2.0           1.0    0.0
      2013-01-03            3.0           1.0    0.0
      2013-01-04            4.0           1.0    0.0
      2013-01-05            5.0           1.0    0.0

In [46]:
bwd.reset_index(inplace=True)
bwd.head()

   Store       Date  SchoolHoliday  StateHoliday  Promo
0      1 2013-01-01            1.0           1.0    0.0
1      1 2013-01-02            2.0           1.0    0.0
2      1 2013-01-03            3.0           1.0    0.0
3      1 2013-01-04            4.0           1.0    0.0
4      1 2013-01-05            5.0           1.0    0.0

In [0]:
fwd.drop('Store',1,inplace=True)
fwd.reset_index(inplace=True)

In [0]:
df.reset_index(inplace=True)

Now we'll merge these values onto the df.

In [0]:
df = df.merge(bwd, 'left', ['Date', 'Store'], suffixes=['', '_bw'])
df = df.merge(fwd, 'left', ['Date', 'Store'], suffixes=['', '_fw'])

In [50]:
df.head()

        Date  Store  Promo  ...  SchoolHoliday_fw  StateHoliday_fw  Promo_fw
0 2015-09-17      1      1  ...               0.0              0.0       1.0
1 2015-09-16      1      1  ...               0.0              0.0       2.0
2 2015-09-15      1      1  ...               0.0              0.0       3.0
3 2015-09-14      1      1  ...               0.0              0.0       4.0
4 2015-09-13      1      0  ...               0.0              0.0       4.0

[5 rows x 17 columns]

In [52]:
df.drop(columns,1,inplace=True)
columns

['SchoolHoliday', 'StateHoliday', 'Promo']

In [53]:
df.head()

        Date  Store  ...  StateHoliday_fw  Promo_fw
0 2015-09-17      1  ...              0.0       1.0
1 2015-09-16      1  ...              0.0       2.0
2 2015-09-15      1  ...              0.0       3.0
3 2015-09-14      1  ...              0.0       4.0
4 2015-09-13      1  ...              0.0       4.0

[5 rows x 14 columns]

It's usually a good idea to back up large tables of extracted / wrangled features before you join them onto another one, that way you can go back to it easily if you need to make changes to it.

In [0]:
df.to_pickle(PATH/'df')

In [0]:
df["Date"] = pd.to_datetime(df.Date)

In [57]:
df.columns

Index(['Date', 'Store', 'AfterSchoolHoliday', 'BeforeSchoolHoliday',
       'AfterStateHoliday', 'BeforeStateHoliday', 'AfterPromo', 'BeforePromo',
       'SchoolHoliday_bw', 'StateHoliday_bw', 'Promo_bw', 'SchoolHoliday_fw',
       'StateHoliday_fw', 'Promo_fw'],
      dtype='object')

In [0]:
df.columns

Index(['Date', 'Store', 'AfterSchoolHoliday', 'BeforeSchoolHoliday',
       'AfterStateHoliday', 'BeforeStateHoliday', 'AfterPromo', 'BeforePromo',
       'SchoolHoliday_bw', 'StateHoliday_bw', 'Promo_bw', 'SchoolHoliday_fw',
       'StateHoliday_fw', 'Promo_fw'],
      dtype='object')

In [0]:
joined = pd.read_pickle(PATH/'joined')
joined_test = pd.read_pickle(PATH/f'joined_test')

In [0]:
joined = join_df(joined, df, ['Store', 'Date'])

In [0]:
joined_test = join_df(joined_test, df, ['Store', 'Date'])

The authors also removed all instances where the store had zero sale / was closed. We speculate that this may have cost them a higher standing in the competition. One reason this may be the case is that a little exploratory data analysis reveals that there are often periods where stores are closed, typically for refurbishment. Before and after these periods, there are naturally spikes in sales that one might expect. By ommitting this data from their training, the authors gave up the ability to leverage information about these periods to predict this otherwise volatile behavior.

In [0]:
joined = joined[joined.Sales!=0]

We'll back this up as well.

In [0]:
joined.reset_index(inplace=True)
joined_test.reset_index(inplace=True)

In [0]:
joined.to_pickle(PATH/'train_clean')
joined_test.to_pickle(PATH/'test_clean')

In [72]:
!mkdir /content/output /content/ross_clean
!cp '/content/data/happy sugar life/test_clean' /content/ross_clean
!cp '/content/data/happy sugar life/train_clean' /content/ross_clean

mkdir: cannot create directory /content/ross_clean: File exists

In [76]:
!p7zip  /content/ross_clean

7-Zip (a) [64] 16.02 : Copyright (c) 1999-2016 Igor Pavlov : 2016-05-21
p7zip Version 16.02 (locale=en_US.UTF-8,Utf16=on,HugeFiles=on,64 bits,2 CPUs Intel(R) Xeon(R) CPU @ 2.30GHz (306F0),ASM,AES-NI)

Scanning the drive:
  0M Scan  /content/                    1 folder, 2 files, 521291116 bytes (498 MiB)

Creating archive: /content/ross_clean.7z

Items to compress: 3

  0%      0% + ross_clean/test_clean                              1% + ross_clean/test_clean                              2% + ross_clean/test_clean                              3% + ross_clean/test_clean                              4% + ross_clean/test_clean                              4% 1 + ross_clean/train_clean                                 5% 1 + ross_clean/train_clean                                 6% 1 + ross_clean/train_clean                                 7% 1 + ross_clean/train_clean                                 8% 1 + ross_clean/train_clean                                 9% 1 + ross_clean/train_clean                                10% 1 + ross_clean/train_clean                                11% 1 + ross_clean/train_clean                                12% 1 + ross_clean/train_clean                                13% 1 + ross_clean/train_clean                                14% 1 + ross_clean/train_clean                                15% 1 + ross_clean/train_clean                                16% 1 + ross_clean/train_clean                                17% 1 + ross_clean/train_clean                                18% 1 + ross_clean/train_clean                                19% 1 + ross_clean/train_clean                                20% 1 + ross_clean/train_clean                                21% 1 + ross_clean/train_clean                                22% 1 + ross_clean/train_clean                                23% 1 + ross_clean/train_clean                                24% 1 + ross_clean/train_clean                                25% 1 + ross_clean/train_clean                                26% 1 + ross_clean/train_clean                                27% 1 + ross_clean/train_clean                                28% 1 + ross_clean/train_clean                                29% 1 + ross_clean/train_clean                                30% 1 + ross_clean/train_clean                                31% 1 + ross_clean/train_clean                                32% 1 + ross_clean/train_clean                                33% 1 + ross_clean/train_clean                                34% 1 + ross_clean/train_clean                                35% 1 + ross_clean/train_clean                                36% 1 + ross_clean/train_clean                                37% 1 + ross_clean/train_clean                                38% 1 + ross_clean/train_clean                                39% 1 + ross_clean/train_clean                                40% 1 + ross_clean/train_clean                                41% 1 + ross_clean/train_clean                                42% 1 + ross_clean/train_clean                                43% 1 + ross_clean/train_clean                                44% 1 + ross_clean/train_clean                                45% 1 + ross_clean/train_clean                                46% 1 + ross_clean/train_clean                                47% 1 + ross_clean/train_clean                                48% 1 + ross_clean/train_clean                                49% 1 + ross_clean/train_clean                                50% 1 + ross_clean/train_clean                                51% 1 + ross_clean/train_clean                                52% 1 + ross_clean/train_clean                                53% 1 + ross_clean/train_clean                                54% 1 + ross_clean/train_clean                                55% 1 + ross_clean/train_clean                                56% 1 + ross_clean/train_clean                                57% 1 + ross_clean/train_clean                                58% 1 + ross_clean/train_clean                                59% 1 + ross_clean/train_clean                                60% 1 + ross_clean/train_clean                                61% 1 + ross_clean/train_clean                                62% 1 + ross_clean/train_clean                                63% 1 + ross_clean/train_clean                                64% 1 + ross_clean/train_clean                                65% 1 + ross_clean/train_clean                                66% 1 + ross_clean/train_clean                                67% 1 + ross_clean/train_clean                                68% 1 + ross_clean/train_clean                                69% 1 + ross_clean/train_clean                                70% 1 + ross_clean/train_clean                                71% 1 + ross_clean/train_clean                                72% 1 + ross_clean/train_clean                                73% 1 + ross_clean/train_clean                                74% 1 + ross_clean/train_clean                                75% 1 + ross_clean/train_clean                                76% 1 + ross_clean/train_clean                                77% 1 + ross_clean/train_clean                                78% 1 + ross_clean/train_clean                                79% 1 + ross_clean/train_clean                                80% 1 + ross_clean/train_clean                                81% 1 + ross_clean/train_clean                                82% 1 + ross_clean/train_clean                                83% 1 + ross_clean/train_clean                                84% 1 + ross_clean/train_clean                                85% 1 + ross_clean/train_clean                                86% 1 + ross_clean/train_clean                                87% 1 + ross_clean/train_clean                                88% 1 + ross_clean/train_clean                                89% 1 + ross_clean/train_clean                                90% 1 + ross_clean/train_clean                                91% 1 + ross_clean/train_clean                                92% 1 + ross_clean/train_clean                                93% 1 + ross_clean/train_clean                                94% 1 + ross_clean/train_clean                                95% 1 + ross_clean/train_clean                                96% 1 + ross_clean/train_clean                                97% 1 + ross_clean/train_clean                                98% 1 + ross_clean/train_clean                                99% 1 + ross_clean/train_clean                                99% 2 + ross_clean/train_clean                               
Files read from disk: 2
Archive size: 14175416 bytes (14 MiB)
  0M Removing /content/ross_clean/test_clean                                            
Everything is Ok

In [75]:
!p7zip -d /content/ross_clean.7z

/usr/bin/p7zip: cannot read /content/ross_clean.7z

In [0]:
!cp '/content/ross_clean.7z'  '/content/drive/My Drive/fastai-v3/data'

In [77]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:

Mounted at /content/drive